h1{
    font-size: 3rem;
}

.intro, .story, .surf_story, .summary {
    display: flex;
}
.intro, .surf_story{
    justify-content: flex-start;
    p{
        order: 1;
        
    }
    img{
        order: 0;
    }
}

.story, .summary{
    justify-content: flex-end;
    p{
        order: 0;
    }
    img{
        padding-left: 2rem;
        padding-right: 1rem;
        order: 1;
    }

    
}

img{
    border-radius: 4rem;
    padding: 2rem;    
    width: 20rem;
}

p{  
    letter-spacing: 0.05rem;
    line-height: 2rem;
    text-indent: 1.5rem;
    font-size: 1.5rem;
    max-width: 50rem;
    align-self: center;
}