h1{
    font-size: 3rem;
}
.container{
    padding: 3rem;
    .project_card{

    margin: 2rem;
        width: max-content;
        .project_avatar{
            background-size: cover;
            
        }
        .mat-card-actions{
            display: flex;
            flex-direction: row-reverse;
            a{
                padding:1rem;
        
            }
        }
    }
}
