h1{
    font-size: 3rem;
}
.container{
    padding: 3rem;
    .project_card{

    margin: 2rem;
    width: 40rem;    
    max-width: 50rem;
        .project_avatar{
            background-size: cover;
            
        }
        .mat-card-actions{
            display: flex;
            flex-direction: row-reverse;
            a{
                padding:1rem;
        
            }
        }
    }
}

.frontend{
    background: lavender;

}

.backend{
    background: palegoldenrod;
}

.full-stack{
    background: powderblue;
}