<body>
    <h1>Contact</h1>
    <div class=contact_form>
        <label class='labels' for='first_name'>First name:</label>
        <label class='details' id='first_name'>Szymon</label>
        <br><label class='labels' for='last_name'>Last name:</label>
        <label class='details' id='last_name'>Dyda</label>
        <br><label class='labels' for='born_date'>Born date:</label>
        <label class='details' id='born_date'>20.01.1995</label>
        <br><label class='labels' for='nacionality'>Nacionality:</label>
        <label class='details' id='nacionality'>Polish</label>
        <br><label class='labels' for='home_address'>Current home address:</label>
        <div class='address'>
            <br><label class='labels' for='country'>Country:</label>
            <label class='details' id='country'>Spain</label>
            <br><label class='labels' for='region'>Region:</label>
            <label class='details' id='region'>Fuerteventura, Canary Islands</label>
            <br><label class='labels' for='city'>City:</label>
            <label class='details' id='city'>La Pared</label>
            
        </div>        
      
        <br><label class='labels' for='email'>Email address:</label>
        <label class='details' id='email'><a href='mailto:szymondyda13@gmail.com'>szymondyda13@gmail.com</a></label>
        <br><label class='labels' for='phone'>Phone number:</label>
        <label class='details' id='phone'>+34 632 467 102</label>
        
    </div>
    
</body>