.contact_form {
  font-size: 1.5rem;
  line-height: 3rem;
  margin-left: 30rem;
  text-align: left;
  .labels {
    font-weight: bolder;
    margin: 1rem;
  }
  .address {
    margin-left: 5rem;
  }
}

h1 {
  font-size: 3rem;
}
